<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Exam Generator
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!-- Fonts and icons -->
  <link rel="stylesheet" href="/static/styles/mainpage.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS -->
  <link href="static/demo/demo.css" rel="stylesheet" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body class="gradient">

  <div class="main__content">
    <h2 class="text-center mb-4">Exam.ly</h2>
      <div class="row justify-content-center">
        <div class="col-sm-4">
         <div class="card">
          <div class="row justify-content-center">
            <div class="card-body">
              <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="row justify-content-center">
                  <p class="card-text"> Select previous paper(s)</p>
                </div>
                <!-- <input type="file" name="file" value="file" multiple/> -->
                <div class="row justify-content-center">
                  <label>
                    <img src="/static/img/icon.png">
                    <input type="file" name="file" value="file" style="display:none" multiple>
                  </label>
                </div>
                <hr>
                <div class="row justify-content-center">
                  <input type="submit" name="upload" value="Upload" class="button">
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-center"></div>
            <ul>
              <ol type="1">
                {% for item in response %}
                <li>{{ item }}</li>
                {% endfor %}
              </ol>
            </ul>
          </div>
        </div>
      </div>

</body>

</html>