<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <title>Exam Generator</title>

    <link rel="stylesheet" href="/static/styles/mainpage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  </head>
  <body>
    <!-- Navbar Section -->
    <!-- <nav class="navbar">
      <div class="navbar__container">
        <a href="" id="navbar__logo"><i class="fa-solid fa-diamond fa-fw"></i>ACM</a>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="#" class="navbar__links">Home</a>
          </li>
          <li class="navbar__item">
            <a href="projects.html" class="navbar__links">Projects</a>
          </li>
          <li class="navbar__item">
            <a href="#" class="navbar__links">Blogs</a>
          </li>
          <li class="navbar__btn"><a href="mailto: nolan@acmucsd.org" class="button">Contact me</a></li>
        </ul>
      </div>
    </nav> -->

    <!-- Hero Section -->
    <section class="main">
      <div class="main__container">
        <div class="main__content">
          <h2>Exam Generator</h2>
          <p>Select previous paper(s).</p>
          <button class="main__btn">
            <a href="https://acmurl.com/sample-resume" target="_blank">My Resume</a>
          </button>
        </div>
        <div class="main__img--container">
          <img id="main__img" src="images/acm.png" />
        </div>
      </div>
    </section>

    <!-- Footer Section -->
    <section class="footer">
      <div class="footer__container">
        <div class="footer__logo">
          <a href="" id="footer__logo"><i class="fa-solid fa-diamond fa-fw"></i>ACM</a>
        </div>
        <p class="website__rights">© ACM 2023. All rights reserved</p>
        <div class="social__icons">
          <a
            class="social__icon--link"
            href="https://www.facebook.com/acmucsd/"
            target="_blank"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook"></i>
          </a>
          <a
            class="social__icon--link"
            href=""
            target="_blank"
            aria-label="Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            class="social__icon--link"
            href="https://www.youtube.com/channel/UCyjPATFqc3FwOiuqJ2UG1Eg?sub_confirmation=1"
            target="_blank"
            aria-label="Youtube"
          >
            <i class="fab fa-youtube"></i>
          </a>
          <a
            class="social__icon--link"
            href=""
            target="_blank"
            aria-label="Twitter"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            class="social__icon--link"
            href=""
            target="_blank"
            aria-label="LinkedIn"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </body>
  <script src="https://kit.fontawesome.com/a2e30e5c17.js" crossorigin="anonymous"></script>
</html>